buildcache/
repository/
copy_reference_file.log
settings-docker.xml
.ivy2/
.sbt/
.npm/
.bnd/
.DS_Store

# ci config for local ci build
.circleci/local-config.yml

doc/buildspecs.txt

# IDE local folders
.idea/
