buildcache/
copy_reference_file.log
settings-docker.xml
.ivy2/
.sbt/
.npm/
.bnd/
.DS_Store
.gradle-enterprise/

# IntelliJ IDEA
.idea
*.iml

# ci config for local ci build
.circleci/local-config.yml

doc/buildspecs.txt
maven-metadata
bin/docker/tmp/
wip/maven-metadata.xml
m2/toolchains.xml
m2/repository/
