buildcache/
copy_reference_file.log
settings-docker.xml
.ivy2/
.sbt/
.npm/
.bnd/
.DS_Store
.gradle-enterprise/
.gradle/
.bak

# IntelliJ IDEA
.idea
*.iml

# Eclipse
.project

# ci config for local ci build
.circleci/local-config.yml

doc/buildspecs.txt
maven-metadata
maven-metadata.xml-staging
bin/docker/tmp/
wip/maven-metadata.xml
m2/build-cache
m2/toolchains.xml
m2/discovered-jdk-toolchains-cache.xml
m2/repository*/
m2/wrapper/
m2/.dev*/
tmp/
.wip/*.diffoscope
.wip/*.buildinfo
.wip/*.buildcompare
gh-pages/
