<settings>
  <localRepository>${user.home}/.m2/repository</localRepository>
  <profiles>
    <profile>
      <id>apache</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <pluginRepositories>
        <pluginRepository>
          <id>apache.org</id>
          <name>Maven Plugin Snapshots</name>
          <url>http://repository.apache.org/snapshots</url>
          <releases>
            <enabled>false</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

    <profile>
      <id>io.wcm</id>
      <!-- see https://wcm.io/maven.html -->
      <repositories>
        <repository>
          <id>adobe-public-releases</id>
          <name>Adobe Public Repository</name>
          <url>https://repo.adobe.com/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>maven-nodejs-proxy</id>
          <url>https://maven-nodejs-proxy.pvtool.org</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
      
      <pluginRepositories>
        <pluginRepository>
          <id>adobe-public-releases</id>
          <name>Adobe Public Repository</name>
          <url>https://repo.adobe.com/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>

  <mirrors>
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
    <mirror>
      <id>jitpack.io</id>
      <mirrorOf>jitpack.io</mirrorOf>
      <url>https://jitpack.io</url>
    </mirror>
    <mirror>
      <id>adobe-public-releases</id>
      <mirrorOf>adobe-public-releases</mirrorOf>
      <url>https://repo.adobe.com/nexus/content/groups/public/</url>
    </mirror>
    <mirror>
      <id>maven-nodejs-proxy</id>
      <mirrorOf>maven-nodejs-proxy</mirrorOf>
      <url>https://maven-nodejs-proxy.pvtool.org</url>
    </mirror>
    <mirror>
      <id>jboss.org</id>
      <mirrorOf>jboss.org</mirrorOf>
      <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
    </mirror>
    <mirror>
      <id>spring-repo</id>
      <mirrorOf>spring-repo</mirrorOf>
      <url>https://repo.spring.io/release/</url>
    </mirror>
    <mirror>
      <id>jenkins</id>
      <mirrorOf>jenkins</mirrorOf>
      <url>https://repo.jenkins-ci.org/releases/</url>
    </mirror>
    <mirror>
      <id>AdoptOpenJDK</id>
      <mirrorOf>AdoptOpenJDK</mirrorOf>
      <url>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs</url>
    </mirror>
    <mirror>
      <id>repo.gradle.org</id>
      <mirrorOf>repo.gradle.org</mirrorOf>
      <url>https://repo.gradle.org/gradle/libs-releases-local/</url>
    </mirror>
    <mirror>
      <id>ext.repo.gradle.org</id>
      <mirrorOf>ext.repo.gradle.org</mirrorOf>
      <url>https://repo.gradle.org/gradle/ext-releases-local/</url>
    </mirror>
    <mirror>
      <id>atlassian-public</id>
      <mirrorOf>atlassian-public</mirrorOf>
      <url>https://packages.atlassian.com/maven-external</url>
    </mirror>
    <mirror>
      <id>jboss.thirdparty</id>
      <mirrorOf>jboss.thirdparty</mirrorOf>
      <url>https://repository.jboss.org/nexus/service/local/repositories/thirdparty-releases/content/</url>
      <!--url>https://maven.repository.redhat.com/ga/</url-->
    </mirror>
    <mirror>
        <!-- needed for content/net/sourceforge/pmd/pmd-6.42.0.buildspec -->
        <id>jcenter</id>
        <mirrorOf>jcenter</mirrorOf>
        <url>https://jcenter.bintray.com/</url>
    </mirror>
    <mirror>
      <id>mapr-releases</id>
      <mirrorOf>mapr-releases</mirrorOf>
      <url>https://repository.mapr.com/maven/</url>
    </mirror>
    <mirror>
      <id>confluent</id>
      <mirrorOf>confluent</mirrorOf>
      <url>https://packages.confluent.io/maven/</url>
    </mirror>
    <mirror>
      <id>splunk-artifactory</id>
      <mirrorOf>splunk-artifactory</mirrorOf>
      <url>https://splunk.jfrog.io/artifactory/ext-releases-local</url>
    </mirror>
    <mirror>
      <id>restlet.talend.com</id>
      <mirrorOf>restlet.talend.com</mirrorOf>
      <url>https://maven.restlet.talend.com</url>
    </mirror>
    <mirror>
      <id>jaspersoft-third-party</id>
      <mirrorOf>jaspersoft-third-party</mirrorOf>
      <url>https://jaspersoft.jfrog.io/jaspersoft/third-party-ce-artifacts/</url>
    </mirror>
    <mirror>
      <id>default</id>
      <mirrorOf>*</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
  </mirrors>
</settings>
