<settings>
  <localRepository>${user.home}/.m2/repository-${MVN_UMASK}</localRepository>
  <profiles>
    <profile>
      <id>staged-releases</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>staged-releases</id>
          <url>https://repository.apache.org/content/groups/staging/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>staged-releases</id>
          <url>https://repository.apache.org/content/groups/staging/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>io.wcm</id>
      <!-- see https://wcm.io/maven.html -->
      <repositories>
        <repository>
          <id>adobe-public-releases</id>
          <name>Adobe Public Repository</name>
          <url>https://repo.adobe.com/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
        <repository>
          <id>maven-nodejs-proxy</id>
          <url>https://maven-nodejs-proxy.pvtool.org</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>adobe-public-releases</id>
          <name>Adobe Public Repository</name>
          <url>https://repo.adobe.com/nexus/content/groups/public/</url>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>jakarta-ee-staging</id>
      <repositories>
        <repository>
          <id>jakarta-ee-staging</id>
          <url>https://jakarta.oss.sonatype.org/content/repositories/staging/</url>
          <layout>default</layout>
          <releases>
            <enabled>true</enabled>
            <updatePolicy>never</updatePolicy>
          </releases>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <mirrors>
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
    <mirror>
      <id>jitpack.io</id>
      <mirrorOf>jitpack.io</mirrorOf>
      <url>https://jitpack.io</url>
    </mirror>
    <mirror>
      <id>adobe-public-releases</id>
      <mirrorOf>adobe-public-releases</mirrorOf>
      <url>https://repo.adobe.com/nexus/content/groups/public/</url>
    </mirror>
    <mirror>
      <id>maven-nodejs-proxy</id>
      <mirrorOf>maven-nodejs-proxy</mirrorOf>
      <url>https://maven-nodejs-proxy.pvtool.org</url>
    </mirror>
    <mirror>
      <id>jboss.org</id>
      <mirrorOf>jboss.org</mirrorOf>
      <url>https://repository.jboss.org/nexus/content/repositories/releases/</url>
    </mirror>
    <mirror>
      <id>spring-repo</id>
      <mirrorOf>spring-repo</mirrorOf>
      <url>https://repo.spring.io/release/</url>
    </mirror>
    <mirror>
      <id>jenkins</id>
      <mirrorOf>jenkins</mirrorOf>
      <url>https://repo.jenkins-ci.org/releases/</url>
    </mirror>
    <mirror>
      <id>AdoptOpenJDK</id>
      <mirrorOf>AdoptOpenJDK</mirrorOf>
      <url>https://adoptopenjdk.jfrog.io/adoptopenjdk/jmc-libs</url>
    </mirror>
    <mirror>
      <id>gradle-repository</id>
      <mirrorOf>gradle-repository</mirrorOf>
      <url>https://repo.gradle.org/gradle/libs-releases-local</url>
    </mirror>
    <mirror>
      <id>repo.gradle.org</id>
      <mirrorOf>repo.gradle.org</mirrorOf>
      <url>https://repo.gradle.org/gradle/libs-releases-local/</url>
    </mirror>
    <mirror>
      <id>ext.repo.gradle.org</id>
      <mirrorOf>ext.repo.gradle.org</mirrorOf>
      <url>https://repo.gradle.org/gradle/ext-releases-local/</url>
    </mirror>
    <mirror>
      <id>atlassian-public</id>
      <mirrorOf>atlassian-public</mirrorOf>
      <url>https://packages.atlassian.com/maven-external</url>
    </mirror>
    <mirror>
      <id>atlassian</id>
      <mirrorOf>atlassian</mirrorOf>
      <url>https://packages.atlassian.com/maven-external</url>
    </mirror>
    <mirror>
      <id>jboss.thirdparty</id>
      <mirrorOf>jboss.thirdparty</mirrorOf>
      <url>https://repository.jboss.org/nexus/service/local/repositories/thirdparty-releases/content/</url>
      <!--url>https://maven.repository.redhat.com/ga/</url-->
    </mirror>
    <mirror>
      <id>redhat</id>
      <mirrorOf>redhat</mirrorOf>
      <url>https://maven.repository.redhat.com/ga/</url>
    </mirror>
    <mirror>
        <!-- needed for content/net/sourceforge/pmd/pmd-6.42.0.buildspec -->
        <id>jcenter</id>
        <mirrorOf>jcenter</mirrorOf>
        <url>https://jcenter.bintray.com/</url>
    </mirror>
    <mirror>
      <id>mapr-releases</id>
      <mirrorOf>mapr-releases</mirrorOf>
      <url>https://repository.mapr.com/maven/</url>
    </mirror>
    <mirror>
      <id>confluent</id>
      <mirrorOf>confluent</mirrorOf>
      <url>https://packages.confluent.io/maven/</url>
    </mirror>
    <mirror>
      <id>splunk-artifactory</id>
      <mirrorOf>splunk-artifactory</mirrorOf>
      <url>https://splunk.jfrog.io/artifactory/ext-releases-local</url>
    </mirror>
    <mirror>
      <id>restlet.talend.com</id>
      <mirrorOf>restlet.talend.com</mirrorOf>
      <url>https://maven.restlet.talend.com</url>
    </mirror>
    <mirror>
      <id>jaspersoft-third-party</id>
      <mirrorOf>jaspersoft-third-party</mirrorOf>
      <url>https://jaspersoft.jfrog.io/jaspersoft/third-party-ce-artifacts/</url>
    </mirror>
    <mirror>
      <id>B_shibboleth</id>
      <mirrorOf>B_shibboleth</mirrorOf>
      <url>https://build.shibboleth.net/nexus/content/repositories/releases/</url>
    </mirror>
    <mirror>
      <id>shibboleth</id>
      <mirrorOf>shibboleth</mirrorOf>
      <url>https://build.shibboleth.net/nexus/content/repositories/releases/</url>
    </mirror>
    <mirror>
      <id>sigar</id>
      <mirrorOf>sigar</mirrorOf>
      <url>https://repository.jboss.org/nexus/content/repositories/thirdparty-uploads/</url>
    </mirror>
    <mirror>
      <id>clojars.org</id>
      <mirrorOf>clojars.org</mirrorOf>
      <url>https://repo.clojars.org</url>
    </mirror>
    <mirror>
      <id>wso2-m2</id>
      <mirrorOf>wso2-m2</mirrorOf>
      <url>http://dist.wso2.org/maven2/</url>
    </mirror>
    <mirror>
      <id>fabric-repository</id>
      <name>Fabric</name>
      <url>https://maven.fabricmc.net</url>
      <mirrorOf>fabric-repository</mirrorOf>
    </mirror>
    <mirror>
      <id>dynamodblocal</id>
      <name>AWS DynamoDB Local Release Repository</name>
      <url>https://s3-us-west-2.amazonaws.com/dynamodb-local/release</url>
      <mirrorOf>dynamodblocal</mirrorOf>
    </mirror>
    <mirror>
      <id>staged-releases</id>
      <mirrorOf>staged-releases</mirrorOf>
      <url>https://repository.apache.org/content/groups/staging/</url>
    </mirror>
    <mirror>
      <id>jakarta-ee-staging</id>
      <mirrorOf>jakarta-ee-staging</mirrorOf>
      <url>https://jakarta.oss.sonatype.org/content/repositories/staging/</url>
    </mirror>
    <mirror>
      <id>gradle-dependencies</id>
      <mirrorOf>gradle-dependencies</mirrorOf>
      <url>https://repo.gradle.org/gradle/libs-releases/</url>
    </mirror>
    <mirror>
      <id>hope-repository</id>
      <mirrorOf>hope-repository</mirrorOf>
      <url>https://nexus.hope.nyc.ny.us/repository/maven-releases/</url>
    </mirror>
    <mirror>
      <id>sonatype-nexus-staging</id>
      <mirrorOf>sonatype-nexus-staging</mirrorOf>
      <url>https://jakarta.oss.sonatype.org/content/groups/staging/</url>
    </mirror>
    <mirror>
      <id>local-libs</id>
      <mirrorOf>local-libs</mirrorOf>
      <url>https://raw.githubusercontent.com/pmd/pmd-designer/refs/heads/main/lib/mvn-repo</url>
    </mirror>
    <mirror>
      <id>google</id>
      <mirrorOf>google</mirrorOf>
      <url>https://maven.google.com/</url>
    </mirror>
    <mirror>
      <id>jindodata</id>
      <mirrorOf>jindodata</mirrorOf>
      <url>https://jindodata-binary.oss-cn-shanghai.aliyuncs.com/mvn-repo/</url>
    </mirror>
    <mirror>
      <id>default</id>
      <mirrorOf>*</mirrorOf>
      <url>https://repo.maven.apache.org/maven2</url>
    </mirror>
</mirrors>
</settings>
